In [1]:
import os
import pandas as pd
import sqlite3

# call_archive - FUNCTION to load local dataset (csv or sql)

In [2]:
def call_archive(file_name, file_location):
    # Build the full path to the file
    full_path = os.path.join(file_location, file_name)

    # Check if the file exists at the specified location
    if not os.path.exists(full_path):
        print(f"File not found: {full_path}")
        return

    # Determine the action based on the file extension
    if file_name.endswith('.csv'):
        # Read a CSV file and return a DataFrame
        return pd.read_csv(full_path)
    elif file_name.endswith('.sql'):
        # Connect to a SQL database and execute a SQL script
        # Here, you need to adjust according to your specific needs
        with sqlite3.connect(full_path) as conn:
            return pd.read_sql_query('SELECT * FROM your_table', conn)
    else:
        print("Unsupported file format.")
        return

# Example of use:
# dataframe_csv = call_archive('my_file.csv', '/path/to/directory')
# dataframe_sql = call_archive('my_database.sql', '/path/to/directory')

# call function call_archive with the paramethers

In [3]:
dataframe_csv = call_archive('train.csv','C:/Users/bruno/Desktop/Portifolio')

In [4]:
dataframe_csv.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# check dataset values

In [5]:
dataframe_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
dataframe_csv.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

# check_col - FUNCTION check number of lines of each column:

In [9]:
def check_col(dataframe_name):
    # Assuming 'dataframe_name' is your DataFrame
    
    # Calculate the total number of rows in the DataFrame
    total_dataset_lines = len(dataframe_name)

    # Iterate over each column in the DataFrame
    for column in dataframe_name.columns:
        # Count the number of non-null values in the column
        non_null_count = dataframe_name[column].count()

        # Check if the count of non-null values is less than the total number of rows
        if non_null_count < total_dataset_lines:
            # If true, print the column name and the number of missing (null) lines
            print(f"Column '{column}' with {total_dataset_lines - non_null_count} missing lines.")
        else:
            # If false, print the column name and the number of non-null lines
            print(f"Column '{column}' with {non_null_count} lines.")

# call function check_col

In [10]:
check_col(dataframe_csv)

Column 'PassengerId' with 891 lines.
Column 'Survived' with 891 lines.
Column 'Pclass' with 891 lines.
Column 'Name' with 891 lines.
Column 'Sex' with 891 lines.
Column 'Age' with 177 missing lines.
Column 'SibSp' with 891 lines.
Column 'Parch' with 891 lines.
Column 'Ticket' with 891 lines.
Column 'Fare' with 891 lines.
Column 'Cabin' with 687 missing lines.
Column 'Embarked' with 2 missing lines.

# list_null - FUNCTION list all null data of the dataset:

In [11]:
def list_null(dataframe_name):
    # Initialize df_nulls as an empty DataFrame with the same columns as dataframe_name
    df_nulls = pd.DataFrame(columns=dataframe_name.columns)

    # Iterate over each row in dataframe_name
    for index, row in dataframe_name.iterrows():
        # Check if there are any null values in the row
        if row.isnull().any():
            # If so, add the row to df_nulls
            df_nulls = pd.concat([df_nulls, pd.DataFrame([row])], ignore_index=True)

    # Optionally, you can reset the display settings for rows and columns
    # Uncomment the lines below if you want to reset them
    pd.reset_option('display.max_rows')
    pd.reset_option('display.max_columns')

    # Setting the display options to show all rows and columns
    #pd.set_option('display.max_rows', None)  # None means no limit for rows
    #pd.set_option('display.max_columns', None)  # None means no limit for columns

    # Return the DataFrame containing rows with null values
    return df_nulls

# call function list_null

In [12]:
list_null(dataframe_csv)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
2,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
3,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
4,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
5,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
6,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
7,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
8,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
9,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
10,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
11,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
12,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
13,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
14,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
15,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
16,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
17,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
18,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
19,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
20,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
21,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
22,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
23,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
24,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
25,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
26,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
27,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
28,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
29,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
30,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
31,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
32,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
33,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,NaN,S
34,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
35,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
36,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
37,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
38,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
39,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
40,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
41,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
42,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
43,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
44,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1,0,2926,26.0000,NaN,S
45,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
46,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
47,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
48,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
49,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
50,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
51,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
52,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
53,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
54,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
55,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
56,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
57,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
58,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
59,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
60,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
61,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
62,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
63,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
64,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
65,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
66,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
67,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
68,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
69,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
70,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
71,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
72,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
73,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
74,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
75,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
76,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
77,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
78,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
79,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
80,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
81,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
82,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S
83,101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S
84,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
85,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S
86,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,NaN,S
87,106,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S
88,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S
89,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
90,109,0,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,NaN,S
91,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
92,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C
93,113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S
94,114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S
95,115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
96,116,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
97,117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q
98,118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S
99,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S
100,121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
101,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
102,123,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C
103,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
104,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
105,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
106,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
107,130,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S
108,131,0,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C
109,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
110,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S
111,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S
112,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S
113,136,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
114,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
115,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
116,142,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S
117,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
118,144,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q
119,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S
120,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S
121,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
122,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S
123,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S
124,151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
125,153,0,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,NaN,S
126,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S
127,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
128,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
129,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q
130,158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
131,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S
132,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
133,161,0,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S
134,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0,0,C.A. 33595,15.7500,NaN,S
135,163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S
136,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
137,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
138,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
139,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
140,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S
141,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
142,170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S
143,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q
144,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
145,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
146,176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S
147,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S
148,179,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S
149,180,0,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S
150,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
151,182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
152,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
153,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S
154,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S
155,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q
156,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S
157,189,0,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q
158,190,0,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S
159,191,1,2,"Pinsky, Mrs. (Rosa)",female,32.00,0,0,234604,13.0000,NaN,S
160,192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S
161,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S
162,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
163,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S
164,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
165,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S
166,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
167,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
168,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S
169,204,0,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C
170,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
171,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S
172,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
173,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
174,211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
175,212,1,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S
176,213,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S
177,214,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S
178,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q
179,217,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
180,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
181,220,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S
182,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
183,222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S
184,223,0,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,NaN,S
185,224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
186,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S
187,227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S
188,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,NaN,S
189,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S
190,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
191,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S
192,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,NaN,S
193,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
194,235,0,2,"Leyson, Mr. Robert William Norman",male,24.00,0,0,C.A. 29566,10.5000,NaN,S
195,236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
196,237,0,2,"Hold, Mr. Stephen",male,44.00,1,0,26707,26.0000,NaN,S
197,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S
198,239,0,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,NaN,S
199,240,0,2,"Hunt, Mr. George Henry",male,33.00,0,0,SCO/W 1585,12.2750,NaN,S
200,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
201,242,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q
202,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S
203,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
204,245,0,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,NaN,C
205,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.00,0,0,347071,7.7750,NaN,S
206,248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.00,0,2,250649,14.5000,NaN,S
207,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.00,1,0,244252,26.0000,NaN,S
208,251,0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S
209,254,0,3,"Lobb, Mr. William Arthur",male,30.00,1,0,A/5. 3336,16.1000,NaN,S
210,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.00,0,2,370129,20.2125,NaN,S
211,256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.00,0,2,2650,15.2458,NaN,C
212,257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,NaN,0,0,PC 17585,79.2000,NaN,C
213,259,1,1,"Ward, Miss. Anna",female,35.00,0,0,PC 17755,512.3292,NaN,C
214,260,1,2,"Parrish, Mrs. (Lutie Davis)",female,50.00,0,1,230433,26.0000,NaN,S
215,261,0,3,"Smith, Mr. Thomas",male,NaN,0,0,384461,7.7500,NaN,Q
216,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S
217,265,0,3,"Henry, Miss. Delia",female,NaN,0,0,382649,7.7500,NaN,Q
218,266,0,2,"Reeves, Mr. David",male,36.00,0,0,C.A. 17248,10.5000,NaN,S
219,267,0,3,"Panula, Mr. Ernesti Arvid",male,16.00,4,1,3101295,39.6875,NaN,S
220,268,1,3,"Persson, Mr. Ernst Ulrik",male,25.00,1,0,347083,7.7750,NaN,S
221,271,0,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S
222,272,1,3,"Tornquist, Mr. William Henry",male,25.00,0,0,LINE,0.0000,NaN,S
223,273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41.00,0,1,250644,19.5000,NaN,S
224,275,1,3,"Healy, Miss. Hanora ""Nora""",female,NaN,0,0,370375,7.7500,NaN,Q
225,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45.00,0,0,347073,7.7500,NaN,S
226,278,0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0000,NaN,S
227,279,0,3,"Rice, Master. Eric",male,7.00,4,1,382652,29.1250,NaN,Q
228,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.00,1,1,C.A. 2673,20.2500,NaN,S
229,281,0,3,"Duane, Mr. Frank",male,65.00,0,0,336439,7.7500,NaN,Q
230,282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28.00,0,0,347464,7.8542,NaN,S
231,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.00,0,0,345778,9.5000,NaN,S
232,284,1,3,"Dorking, Mr. Edward Arthur",male,19.00,0,0,A/5. 10482,8.0500,NaN,S
233,285,0,1,"Smith, Mr. Richard William",male,NaN,0,0,113056,26.0000,A19,S
234,286,0,3,"Stankovic, Mr. Ivan",male,33.00,0,0,349239,8.6625,NaN,C
235,287,1,3,"de Mulder, Mr. Theodore",male,30.00,0,0,345774,9.5000,NaN,S
236,288,0,3,"Naidenoff, Mr. Penko",male,22.00,0,0,349206,7.8958,NaN,S
237,289,1,2,"Hosono, Mr. Masabumi",male,42.00,0,0,237798,13.0000,NaN,S
238,290,1,3,"Connolly, Miss. Kate",female,22.00,0,0,370373,7.7500,NaN,Q
239,291,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.00,0,0,19877,78.8500,NaN,S
240,294,0,3,"Haas, Miss. Aloisia",female,24.00,0,0,349236,8.8500,NaN,S
241,295,0,3,"Mineff, Mr. Ivan",male,24.00,0,0,349233,7.8958,NaN,S
242,296,0,1,"Lewy, Mr. Ervin G",male,NaN,0,0,PC 17612,27.7208,NaN,C
243,297,0,3,"Hanna, Mr. Mansour",male,23.50,0,0,2693,7.2292,NaN,C
244,299,1,1,"Saalfeld, Mr. Adolphe",male,NaN,0,0,19988,30.5000,C106,S
245,301,1,3,"Kelly, Miss. Anna Katherine ""Annie Kate""",female,NaN,0,0,9234,7.7500,NaN,Q
246,302,1,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q
247,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.00,0,0,LINE,0.0000,NaN,S
248,304,1,2,"Keane, Miss. Nora A",female,NaN,0,0,226593,12.3500,E101,Q
249,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S
250,307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
251,309,0,2,"Abelson, Mr. Samuel",male,30.00,1,0,P/PP 3381,24.0000,NaN,C
252,313,0,2,"Lahtinen, Mrs. William (Anna Sylfven)",female,26.00,1,1,250651,26.0000,NaN,S
253,314,0,3,"Hendekovic, Mr. Ignjac",male,28.00,0,0,349243,7.8958,NaN,S
254,315,0,2,"Hart, Mr. Benjamin",male,43.00,1,1,F.C.C. 13529,26.2500,NaN,S
255,316,1,3,"Nilsson, Miss. Helmina Josefina",female,26.00,0,0,347470,7.8542,NaN,S
256,317,1,2,"Kantor, Mrs. Sinai (Miriam Sternin)",female,24.00,1,0,244367,26.0000,NaN,S

# convert_column_to_int - FUNCTION Convert selected Column to INT

In [13]:
def convert_column_to_int(dataframe_name, column_name):
    # Check if the column exists in the DataFrame
    if column_name in dataframe_name.columns:
        # Convert the column to int
        dataframe_name[column_name] = dataframe_name[column_name].astype(int)
        print(f"The column '{column_name}' has been converted to int.")
    else:
        # Inform if the column does not exist
        print(f"The column '{column_name}' does not exist in the DataFrame.")

    return dataframe_name

# Example of how to use the function:
# modified_dataframe = convert_column_to_int(dataframe_csv, 'your_column_name')
#convert_column_to_int(dataframe_csv, 'Fare')

# replace_value - FUNCTION replace a old value for a new value using column name as reference.

In [14]:
def replace_value(dataframe_name, column_name, old_value, new_value):
    # Check if the column exists in the DataFrame
    if column_name in dataframe_name.columns:
        # Replace old_value with new_value in the specified column
        dataframe_name[column_name] = dataframe_name[column_name].replace(old_value, new_value)
        print(f"Value '{old_value}' replaced with '{new_value}' in column '{column_name}'.")
    else:
        # Inform if the column does not exist
        print(f"The column '{column_name}' does not exist in the DataFrame.")

    return dataframe
#replace_value(dataframe_csv,'Sex','male','masc')

# analyze_duplicates_uniques - FUNCTION creates a table to display unique and duplicated values of each column.

In [15]:
def analyze_duplicates_and_uniques_as_table(dataframe_name):
    # Initialize two empty lists to store the count of unique and duplicated values for each column
    unique_values = []
    duplicated_values = []

    # Loop through each column in the DataFrame
    for column in dataframe_name.columns:
        # Append the count of unique values in the column to the unique_values list
        unique_values.append(dataframe_name[column].nunique())
        # Append the count of duplicated values in the column to the duplicated_values list
        duplicated_values.append(dataframe_name[column].duplicated().sum())

    # Create a new DataFrame to display the results
    # It includes the column names, count of unique values, and count of duplicated values
    results_df = pd.DataFrame({
        'Column': dataframe_name.columns,
        'Unique Values': unique_values,
        'Duplicated Values': duplicated_values
    })

    # Return the results DataFrame
    return results_df

# Example of usage
# Assuming you have a DataFrame called 'dataframe_csv'
# This line calls the function with dataframe_csv as the argument
result_table = analyze_duplicates_and_uniques_as_table(dataframe_csv)
# Prints the resulting DataFrame which shows the unique and duplicated values count for each column in dataframe_csv
print(result_table)

         Column  Unique Values  Duplicated Values
0   PassengerId            891                  0
1      Survived              2                889
2        Pclass              3                888
3          Name            891                  0
4           Sex              2                889
5           Age             88                802
6         SibSp              7                884
7         Parch              7                884
8        Ticket            681                210
9          Fare            248                643
10        Cabin            147                743
11     Embarked              3                887